<h1><%= @category.name %></h1>

<% if @category.non_profits.any? %>
<ul>
  <% @category.non_profits.each do |non_profit| %>
    <li><%= non_profit.name %></li>
  <% end %>
</ul>
<% else %>

<p>
  No non profits in this category currently
</p>

<% end %>

<section>
  <p>
    <%= link_to "Back to all non profits", non_profits_path %>
  </p>
  <p>
    <%= link_to "Back to categories", categories_path %>
  </p>
</section>
